#root {
  max-width: 1280px;
}

.main-content {
  margin-left: 10px;
}

.content {
  margin-top: 70px;
  margin-left: 50px;
  background-color: #fff;
  min-height: calc(100vh - 50px);
  min-width: calc(100vw - 90px);
}